$mobile-screen-xs: 320px;
$mobile-screen-sm: 375px;
$mobile-screen-md: 430px;
$mobile-screen-lg: 670px;
$mobile-screen: 768px;
$tablet-screen: 834px;

$desktop-screen-base: 1024px;
$desktop-screen-sxga: 1280px;
$desktop-screen-sm: 1365px;
$desktop-screen-hd: 1440px;
$desktop-screen-uhd: 1920px;
$desktop-screen-4k: 2560px;
