$white: #ffffff;
$black: #000;
$primary-gradient: #FFE2CC;
$secondary-gradient: #FFF0D3;
$sub-gradient: #FFDABC;
$input-focus-background: #E5E5E5;
$gray-text-100: #c2c2c2;
$gray-text-300: #858585;
$input-border: #F2CCAE;
