.container {
    gap: 0 !important;

    .sidebar-title {
        padding: 25px 30px;
        justify-content: space-between;
        align-items: center;

        .image {
            width: 126px;
            height: 21px;
        }
    }

    .root {
        padding: 18px 20px 18px 28px;
    }

    .children {
        background-color: var(--mantine-color-gray-2);
        padding-left: 0;
    }

    .sub-root {
        padding-left: 60px;
    }

    .active {
        background-color: var(--mantine-color-primary-3);
        color: var(--mantine-color-white);
    }
}