.layout {
  &__container {
    width: 100%;
  }
  &__images {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .image__item {
      position: relative;
    }
    .icon__remove {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 3;
      background: $white;
    }
  }
}