.container {
    padding: 0 20px;
    .left-section {
        gap: 1px;

        .button {
            border-radius: 0 10px 10px 0;
            width: 176px;

            .label {
                font-size: $text-sm;
                color: var(--mantine-color-black);
                font-weight: $font-normal;
            }
        }
    }

    .image {
        cursor: pointer;
    }

    .input {
        background-color: var(--mantine-color-gray-1);
        width: 590px;
        color: $gray-text-100;
        border-radius: 10px 0 0 10px;
        border: 1px solid transparent;
        color: $black;
        
        &:focus-within {
            border: 1px solid $gray-text-100;
            background-color: $input-focus-background;
        }
    }
}

@media only screen and (max-width: $desktop-screen-base) {
    .container {
        padding: 0 20px;
        .input {
            width: 210px;
        }
    }
}

@media only screen and (max-width: $mobile-screen) {
    .container {
        padding: 0 20px;

        .input {
            width: 210px;
            font-size: $text-13;
        }
    }
}

@media only screen and (max-width: $mobile-screen-md) {
    .container {
        .input {
            width: 170px;
        }
    }
}

@media only screen and (max-width: $mobile-screen-sm) {
    .container {
        padding: 0 10px;
    }
}