$white: #FFFFFF;
$black: #000000;
$light: #F5F5F5;
$primary-gradient: #FFE2CC;
$secondary-gradient: #FFF0D3;
$sub-gradient: #FFDABC;
$input-focus-background: #E5E5E5;
$gray-text-100: #c2c2c2;
$gray-text-300: #858585;
$input-border: #F2CCAE;
$background-light: #F5F5F5;

// Temp
$background-drop-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);