
.root {
    .breadcrumb {
        color: var(--mantine-color-gray-4);
        font-weight: $font-bold;
        font-size: $text-xl;
    }

    .active {
        color: var(--mantine-color-black);
    }
}